attrs
certifi
charset-normalizer
exceptiongroup
h11
idna
outcome
psycopg2
PySocks
python-dateutil
requests
schedule
selenium
six
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
urllib3
wsproto
wheel
